.btn {
  box-sizing: border-box;
  font-size: 12px;
  text-align: center;
  padding: 0 10px;
  min-width: 80px;

  &.sm {
    height: 25px;
    line-height: 25px;
    border-radius: 25px;
  }

  &.lager {
    height: 35px;
    line-height: 35px;
    border-radius: 35px;
  }

  &.line {
    border: 1px solid #e5e5e5;
  }
}