.row {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 0;
  margin-bottom: 30px;

  .cols {
    box-sizing: border-box;
  }

  .col {
    font-size: 12px;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 10px;

    &.col-5 {
      width: 20%;
    }

    &.col-4 {
      width: 25%;
    }

    &.col-3 {
      width: 33.33%;
    }

    &.col-2 {
      width: 50%;
    }

    &.col-sm1 {
      width: 10%;
    }

    &.col-sm2 {
      width: 20%;
    }

    &.col-sm3 {
      width: 30%;
    }

    &.col-sm4 {
      width: 40%;
    }

    &.col-sm5 {
      width: 50%;
    }

    &.col-sm6 {
      width: 60%;
    }

    &.col-sm7 {
      width: 70%;
    }

    &.col-sm8 {
      width: 80%;
    }

    &.col-sm9 {
      width: 90%;
    }

    &.col-sm10 {
      width: 100%;
    }
  }
}